body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
  font-family: "Roboto", sans-serif;
}

.appbar {
  background: linear-gradient(90deg, #1976d2, #0d47a1);
}


.center-box {
  min-height: calc(100vh - 64px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.heading {
  color: #0d47a1;
  font-weight: bold;
  margin-bottom: 25px;
}

.card {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
}

.submit-btn {
  margin-top: 20px !important;
  background: linear-gradient(90deg, #1976d2, #42a5f5);
  padding: 10px;
  font-size: 16px;
}
